<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The <a href="http://railstutotial.org"> Ruby on Rails Tutorial</a> is helping me cement Rails in my noggin so I can create my class project for the UW Certificate in Ruby on Rails.
</p>